h1 {
    color: darkblue;
    text-align:center;
    font-weight: 400;
    font-size: 125; 
    font-family:'Courier New', Courier, monospace;


}

h2 {
    color: darkblue;
    text-align: center;
    font-weight:400; 
    text-decoration: pink;
}

h3{ 
    text-decoration: pink underline;


}

p {

    line-height: 1.5;
    letter-spacing: 0.3ex;
    



}