/* Changing text color */
/* *   {

    color:pink;
    background-color:





} */



/*  */


body {
    background-color:antiquewhite


}

button {

    font-size: 30px;

}

/*  */

h1, h2 {

    color: rgb(224, 185, 134);

}

/* Id selector */

#signup {

    background-color: blanchedalmond;
    color: white; 

}


.Derek{

    color: white;
}
/* decenders selectors */

.post a {


    color: pink;
}


/* Decender selctor for Nintendo site */
footer > a{
    color: purple;



}

/*  */



input[type="password"]{
    color:purple;

    


}


input[type="text"]{

    color:red;
}


/* looking for all achor tag w key word */

a[href*="google"]{
    color:darkorange;
}
button:hover {

    background-color: red;
    color:aquamarine;

}

.post button:active {

    background-color: green;

}

/* Pseudo-element */

h2::first-letter {


    font-size:xx-large;
}
/*  */

p::first-line {
    color:skyblue
    


}
