/* Changing text color */
/* *   {

    color:pink;
    background-color:





} */



/* Change whole page background color */


body {
    background-color:antiquewhite


}

button {

    font-size: 30px;

}

/* color chnge for header */

h1, h2 {

    color: rgba(223, 91, 157, 0.927);

}

/* Id selector */

#signup {

    background-color: blanchedalmond;
    color: white; 

}


.Derek{

    color: white;
}

.men{
    color:rgb(222, 90, 211);


}

.Yale{
    color:hotpink;


}











/* decenders selectors */

.post a {


    color: pink;
}


/* Decender selctor for Nintendo site */
footer > a{
    color: purple;



}

/* calling input passowrd color */



input[type="password"]{
    color:purple;

    


}


input[type="text"]{

    color:red;
}


/* looking for all achor tag w key word */

a[href*="google"]{
    color:darkorange;
}
button:hover {

    background-color: red;
    color:aquamarine;

}

.post button:active {

    background-color: green;

}

/* Pseudo-elements */

h2::first-letter {


    font-size:xx-large;
}
/* more pseudo-elements */

p::first-line {
    color:skyblue
    


}
