/* Changing text color */
/* *   {

    color:pink;
    background-color:

} */

/* Change whole page background color and font size*/


body {
    background-color:antiquewhite

}

button {

    font-size: 30px;

}

/* color change for header */

h1, h2 {

    color: rgba(223, 91, 157, 0.927);

}

/* Id selector, color change for signup button*/

#signup {

    background-color: blanchedalmond;
    color: white; 

}
/* class selectors, changed the last word in
 all post to different colors */

.Derek{

    color: white;
}

.men{
    color:rgb(222, 90, 211);


}

.Yale{
    color:hotpink;


}

/* class descendent selectors, changed
 color of post hyperlink to pink */

.post a {


    color: pink;
}


/* Descendent selctor for Nintendo site,
 color changes to purple for hyperlink*/
footer > a{
    color: purple;


}

/* calling input passowrd color */

/* this to purple dots b/c it is a pswd */

input[type="password"]{
    color:purple;

}

/* This changes the text type to red whenyou type.  */
input[type="text"]{

    color:red;
}


/* looking for all achor tag w key word */

a[href*="google"]{
    color:darkorange;
}
/* This chnages the color of the button
 when you hover over it.  */
button:hover {

    background-color: red;
    color:aquamarine;

}
/* This changes the color of the button
 when you click on it vs hovering over it.  */
.post button:active {

    background-color: green;

}

/* Pseudo-elements changing the color of only 
the first letter of h2 */

h2::first-letter {


    font-size:xx-large;
}
/* more pseudo-elements, changing only the 
first line color to skyblue */

p::first-line {
    color:skyblue
    


}
